@import "reset.css";

/* .nanum-myeongjo-regular {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
} */

body {
    font-family: "Nanum Myeongjo", serif;
}

.mainContainer {
    max-width: 430px;
    margin: auto;
    background-color: #134B70;
}

.page {
    display: none;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    padding: 25px 15px;
    padding-bottom: 60px;
}

.page.active {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #427D9D;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 0 0 15px 15px;
    color: #fff;
}

header h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 22px;
}

nav {
    max-width: 430px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    background-color: #427D9D;
    border-radius: 15px 15px 0 0;
}

nav a {
    color: #9BBEC8;
}

.backBtn_box {
    position: absolute;
    font-size: 25px;
}

#logoutButton {
    all: unset;
    position: absolute;
    right: 15px;
}

#logoutButton i {
    font-size: 18px;
    color: #9BBEC8;
}

#logoutButton span {
    font-size: 13px;
    color: #9BBEC8;
}

/* ===========================================================================home Page==================================================================================== */

/* ===========================================================================Contact Page==================================================================================== */

/* ===========================================================================login Page==================================================================================== */

#login-header {
    align-items: center;
    justify-content: center;
}

.loginContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px 15px 20px;
    box-sizing: border-box;
    background-color: #EEEEEE;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.loginContainer h2 {
    font-size: 25px;
    font-family: "Nanum Myeongjo", serif;
    font-weight: bold;
    font-style: normal;
}

#loginForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 40px 0 40px;
    box-sizing: border-box;
}

.loginFormGroup {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.loginFormGroup label {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
}

.loginFormGroup input{
    font-family: "Nanum Myeongjo", serif;
    text-align: right;
    width: 70%;
    max-width: 70%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    color: #333;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
}

.loginFormGroup input[type="text"]:focus,
input[type="password"]:focus {
    background-color: #ffffff;
    box-shadow: 0 0 0 3px #135D66;
    outline: none;
}

#loginBtn {
    width: 100%;
    padding: 12px;
    background-color: #164863;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}


#loginBtn:hover {
    background-color: #164863;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}


#loginBtn:active {
    background-color: #164863;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.goToSignUpPage {
    width: 100%;
    text-align: right;
    padding: 20px 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.goToSignUpPage a {
    text-decoration: none;
    color: #164863;
    font-size: 13px;
}






/* ===========================================================================signUp Page==================================================================================== */

.signUpContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px 15px 20px;
    box-sizing: border-box;
    background-color: #EEEEEE;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#signUpForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.signUpFormGroup {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.signUpFormGroup label {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
}

.signUpFormGroup input {
    font-family: "Nanum Myeongjo", serif;
    text-align: right;
    width: 60%;
    max-width: 60%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    color: #333;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
}

.signUpFormGroup input[type="text"]:focus,
input[type="password"]:focus {
    background-color: #ffffff;
    box-shadow: 0 0 0 3px #135D66;
    outline: none;
}

.signUpFormGroup input::placeholder {
    font-size: 10px;
}

#signUpBtn {
    width: 100%;
    padding: 12px;
    background-color: #164863;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

#signUpBtn:hover {
    background-color: #164863;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

#signUpBtn:active {
    background-color: #164863;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* ===========================================================================guestRoom Page==================================================================================== */

.guestRoomContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px 15px 20px;
    box-sizing: border-box;
    background-color: #EEEEEE;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.post_search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.post_search_wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.post_search_wrapper i {
    padding: 10px;
    font-size: 16px;
    color: #aaa;
}

.post_search_wrapper input {
    width: 80%;
    font-family: "Nanum Myeongjo", serif;
    font-size: 13px;
    border: none;
    outline: none;
    border-radius: 4px;
}

.post_search button {
    height: 70%;
    font-size: 13px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: #427D9D;
    color: white;
    border: none;
    cursor: pointer;
    white-space: nowrap;
}

.post_search button:hover {
    background-color: #0056b3;
}

.post_top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post_top button {
    all: unset;
    background-color: #427D9D;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
}

.post_top>button>a {
    display: block;
    color: #fff;
    font-size: 13px;
} 

.postList {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.postItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #508C9B;
    border-radius: 15px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.postItem:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.postTitle {
    font-size: 18px;
    color: #DDF2FD;
}

.postDate {
    font-size: 14px;
    color: #ccc;
}

.pagination button {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    color: #164863;
    border-radius: 4px;
    cursor: pointer;
    font-size: 19px;
}

/* ===========================================================================postWrite Page==================================================================================== */

.postWriteContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px 15px 20px;
    box-sizing: border-box;
    background-color: #EEEEEE;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#postWriteForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.post-form-group input[type="text"],
.post-form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: "Nanum Myeongjo", serif;
    font-weight: bold;
}

#postPassword {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: "Nanum Myeongjo", serif;
}

#postWriteForm button {
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
    border: none;
    background-color: #9BBEC8;
    color: #fff;
    border-radius: 25px;
}

.pagination {
    width: 150px;
    display: flex;
    justify-content: center; /* 모든 요소를 중앙에 배치 */
    align-items: center; /* 수직 정렬 */
    position: relative; /* 부모를 기준으로 자식 요소 배치 */
}

#postsCurrentPageIndicator {
    position: absolute; /* 절대 위치로 중앙에 배치 */
    left: 50%; /* 부모의 정중앙에 위치 */
    transform: translateX(-50%); /* 자신의 크기만큼 왼쪽으로 이동하여 정확히 중앙에 배치 */
    font-size: 16px;
    font-weight: bold;
    text-align: center; /* 텍스트 중앙 정렬 */
}

#postsPrevPageButton {
    margin-right: auto; /* 왼쪽 끝으로 배치 */
}

#postsNextPageButton {
    margin-left: auto; /* 오른쪽 끝으로 배치 */
}

/* ===========================================================================postWrite Page==================================================================================== */

.postDetailContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 0px 20px;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#postDetailWrapper {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #508C9B;
    border-radius: 15px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#postDetailWrapper:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

#postDetailHeaderWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#postDetailTitleText {
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #fff;
    font-size: 22px;
    color: #000;
}   

#postMetaWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    font-size: 14px;
    color: #ccc;
}

#postMetaWrapper span {
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
}

#postAuthorText {
    color: #888;
}

#postAuthorText strong {
    color: #134B70;
}

#postDateText {
    color: #888;
}

#postContentWrapper {
    min-height: 250px;
    background-color: #fff;
    font-size: 16px;
    padding: 20px 10px;
    border-radius: 10px;
    line-height: 1.6;
    color: #000;
    margin-top: 20px;
}

